<div class = "header" >
  <div>
    <mat-slide-toggle style = "margin-left: 90%; padding-top: 1%; padding-right: 0%;">
      Dark Mode
    </mat-slide-toggle>
  </div>
  <div class = "header-text">
    <b>
      <i>
        Isaac Benson
      </i>
    </b>
  </div>
</div>

<mat-tab-group animationDuration="500ms" mat-align-tabs="center" color = "accent">
  <mat-tab label="Introduction" >
     <div class = "slider_content" style = "padding-left: 20%; padding-top: 4%; font-weight: bold; color: rgb(113, 113, 113)">
      Hey ! I'm Isaac Benson. I'm a senior Computer Science student at the University of Minnesota. I have 2 years of experience <br>
      in the tech industry, and I've been programing for over 6 years. I have professional experience in frontend web development, <br>
      as well as big data, and i'm excited to be seeking software engineering roles anticipating my graduation in May of 2023.

     </div>
     <img src = "../assets/Me.jpg" style = "height: 40%; width: 29%; margin-left: 13%; border-radius: 15%; margin-top: 4%;">
     <img src = "../assets/msp.jpeg" style = "height: 40%; width: 29%; margin-left: 56%; border-radius: 15%; margin-bottom: 2%;">

  </mat-tab>
  <mat-tab label="Work experience">
     <div class = "slider_content">
      <mat-grid-list cols="2" rowHeight="2:1" gutterSize = "10px" >
        <mat-grid-tile style = "background-color: #9a031f7c;" >
          <div id ="tile">
          <div id = "grid-content">
            <img src = "../assets/blockMwhite.png" style = "width: 26%">
          </div>
          <div>
            &emsp; Teaching Assitant
          </div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile style = "background-color: #fb8c2476;" >
          <div id ="tile">
          <div> 
           <img src = "../assets/ideasSAS.png" style = "width: 30%">
          </div>
          <div>
            &emsp; Application Developer Intern @ IDeaS SAS
          </div>  
          </div>
        </mat-grid-tile>
        <mat-grid-tile style = "background-color: #4586538c;" >
          <div id ="tile">
          <div style = "padding-right: 0"> 
            <img src = "../assets/LinkUp.webp" style = "width: 30%;">
           </div>
           <div>
            &emsp; Web Programming Intern @ LinkUp
          </div> 
          </div>
        </mat-grid-tile>
        <mat-grid-tile style = "background-color: #0f4d5c7b;">
        <div id = "tile">
            4
        </div>
        </mat-grid-tile>
      </mat-grid-list>
     </div>
  </mat-tab>
  <mat-tab label="Projects">
    <div class = "slider_content">
      <mat-grid-list cols="2" rowHeight="2:1" gutterSize = "10px">
        <mat-grid-tile style = "background-color: #9a031f7c;">
          <div>
            <img src = "../assets/blockMwhite.png" style = "width: 30%; height: 30%">
          </div>
          <div>
            Teaching Assitant
          </div>
        </mat-grid-tile>
        <mat-grid-tile style = "background-color: #fb8c2476;">
          <div> 
           <img src = "../assets/ideasSAS.png" style = "width: 45%; height: 45%;">
          </div>
          <div>
            Application Developer Intern @ IDeaS SAS
          </div>  
        </mat-grid-tile>
        <mat-grid-tile style = "background-color: #4586538c;" >
          <div style = "padding-right: 0px"> 
            <img src = "../assets/LinkUp.webp" style = "width: 45%; height: 45%;">
           </div>
           <div>
            Web Programming Intern @ LinkUp
          </div> 
        </mat-grid-tile>
        <mat-grid-tile style = "background-color: #0f4d5c7b;">4</mat-grid-tile>
      </mat-grid-list>
    </div>
 </mat-tab>
 <mat-tab label="Education">
  <div class = "slider_content">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize = "10px">
      <mat-grid-tile style = "background-color: #9a031f7c;" id = "grid-content">
        <div>
          <img src = "../assets/blockMwhite.png" style = "width: 30%; height: 30%">
        </div>
        <div>
          Teaching Assitant
        </div>
      </mat-grid-tile>
      <mat-grid-tile style = "background-color: #fb8c2476;">
        <div> 
         <img src = "../assets/ideasSAS.png" style = "width: 45%; height: 45%;">
        </div>
        <div>
          Application Developer Intern @ IDeaS SAS
        </div>  
      </mat-grid-tile>
      <mat-grid-tile style = "background-color: #4586538c;" >
        <div style = "padding-right: 0px"> 
          <img src = "../assets/LinkUp.webp" style = "width: 45%; height: 45%;">
         </div>
         <div>
          Web Programming Intern @ LinkUp
        </div> 
      </mat-grid-tile>
      <mat-grid-tile style = "background-color: #0f4d5c7b;">4</mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-tab>
<mat-tab label="Resume">
  <div class = "slider_content">
   <head>
     <title>Isaac Benson</title>
   </head>
   <body style ="padding-left: 30%;">
     <iframe src="../assets/Isaac Benson Resume.pdf" width="75%" height="850px" >
     </iframe>
   </body>
  </div>
</mat-tab>
</mat-tab-group>

