/* You can add global styles to this file, and also import other style files */

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #fffcf2;
    padding: 0px;
    margin: 0px;
    height: 100%;
 }

 #tile {
    flex-direction: column;
    margin-left: 2%;
}

 .header-text {
    font-size: larger;
    padding-bottom: 0%;
    font-family: Helvetica;
    font-size: xx-large;
    text-align: center;
    color: #fdfdfd;
    padding-top: 3%;
    height: 10%;
 }

 .card-holder {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;


 }

body * {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    box-sizing: border-box;
 }
 .mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: normal;
}


 .card {
    max-width: 60%;
    background-color: #e9c46a;
    margin: 2%;
  }
 mat-tab-group {
    justify-content: baseline;
    margin-left: auto;
  
    
}

mat-card-header{
    font-weight: bold;
    color: rgb(113, 113, 113);

}

mat-grid-list {
    gutterSize: 10px;
}
mat-grid-tile {
    background: lightblue;
    height: 20%;
    width: 20%;
    display: flex;
    flex-direction: row;
    padding-left: 5%
    
}

mat-tab-body-active {
    margin: auto;
    align-items: center;
    padding-left: 30%;
}




iframe {
    margin: auto;
    align-items: center;
}

mat-tab-header {
    margin-bottom: 0px;
    border-bottom: 0px;
    background-color: #E76F51;
    color: #faf3dd
}
.slider_content {
    justify-content: center;
    margin: 2%;
}
.header {
    background-color: #264653;
    color:#faf3dd;
    font-size: xx-large;
    height: 10%;
    padding: 5%;

    text-align: center;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(255, 204, 0);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
     background-color: #F4A261; 
}

.mat-tab-group.mat-accent .mat-ink-bar, .mat-tab-nav-bar.mat-accent .mat-ink-bar {
    background-color: #ffffff;
}

.mat-tab-nav-bar, .mat-tab-header {
     border-bottom:0px solid rgba(0,0,0,.12); 
}
.mat-tab-body {
    position: fixed;
    opacity: 1;
    height:100%;

}
.mat-tab-label, .mat-tab-link {
    color: #faf3dd;
    opacity: 1;
}
.mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
     opacity: 1; 
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}
.mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 1;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}
.mat-slide-toggle-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
}
html {
    height: 100%;
}