/* You can add global styles to this file, and also import other style files */

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #fffcf2;
    padding: 0px;
    margin: 0px;
    height: 100%;
 }
 .header-text {
    font-size: larger;
    padding-bottom: 0%;
    font-family: Helvetica;
    font-size: xx-large;
    text-align: center;
    color: #fdfdfd;
    padding-top: 3%;
    height: 10%;
 }

 .card-holder {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;


 }

body * {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    box-sizing: border-box;
 }
 .mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: normal;
}


 .card {
    max-width: 75%;
    background-color: #eaeaea;
    margin: 2%;
    filter: drop-shadow(5px 5px 2px #27272e);
    align-items: center;
    text-align: center;
    align-content: center;
    
  }
 

mat-card-content{
    color: #5a5a5a
}

mat-card{
    padding: 35px;
}


mat-card-header{
    font-weight: bold;
    color: rgb(86, 86, 86);
    flex-direction: column;

}

mat-grid-list {
    gutterSize: 10px;
}

mat-tab-body-active {
    align-items: center;
    height: 100%;
    padding: 5%;
}

.footer{
    display:flex;
    flex-direction: row;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(255, 204, 0);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
     background-color: #F4A261; 
}

.mat-tab-group.mat-accent .mat-ink-bar, .mat-tab-nav-bar.mat-accent .mat-ink-bar {
    background-color: #ffffff;
}



iframe {
    margin: auto;
    align-items: center;
}

mat-tab-header {
    background-color: #E76F51;
    color: #faf3dd;
    max-height: 48px;
}
.slider_content {
    justify-content: center;
    margin: 2%;
}
.header {
    background-color: #264653;
    color:#faf3dd;
    font-size: xx-large;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}


.mat-tab-body {
    opacity: 1;
    height:100%;

}


.mat-tab-label {
    height: 48px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 1;
    min-width: 160px;
    max-width: 120px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.mat-slide-toggle-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
}
html {
    height: 100%;
}